.app-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.comment-con {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
}
.comments {
  display: flex;
  flex-direction: column;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}
.description {
  font-family: 'Roboto';
  font-style: oblique;
  color: #1e293b;
}
.comm-input {
  border: 2px solid #475569;
  border-radius: 3px;
  height: 30px;
  width: 300px;
  margin: 10px;
}
.button {
  border: none;
  background-color: #0284c7;
  border-radius: 5px;
  height: 30px;
  width: 150px;
}

.comm-image {
  height: 300px;
  width: 300px;
}
.hr-line {
  color: #cbd2d9;
}
.text-area {
  margin-bottom: 5px;
  border: 2px solid #475569;
  border-radius: 3px;
}
