.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
}
.paragraph {
  color: #475569;
  font-family: 'Roboto';
}
.Input-area {
  color: #334155;
  border-radius: 5px;
  height: 20px;
  width: 200px;
  border: 2px solid #cbd2d9;
}
.Comments-area {
  color: #334155;
  border-radius: 5px;
  border: 2px solid #cbd2d9;
}
.Add-button {
  background-color: #0284c7;
  color: #fff;
  border-radius: 3px;
  border: none;
}
.image-container {
  text-align: right;
  width: 50%;
}
.image {
  height: 350px;
}
.horizontal-line {
  color: #cbd2d9;
}
.comments-list {
  display: flex;
  flex-direction: column;
}
.count-comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.count-button {
  height: 30px;
  width: 30px;
  text-align: center;
}
.count {
  color: #fff;
}
.comments {
  color: #334155;
  font-family: 'Roboto';
}
